@import url(//db.onlinewebfonts.com/c/e87eabbe2a0f331ae6b9df02814577b9?family=Futura+Maxi);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Futura Maxi", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

.like {
  filter: invert(27%) sepia(77%) saturate(2890%) hue-rotate(334deg)
    brightness(113%) contrast(110%);
}

.white {
  filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(117deg)
    brightness(100%) contrast(102%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
